<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>Alke</title>
	<meta name="description"  content="Professional Creative Template" />
	<meta name="author" content="IG Design">
	<meta name="keywords"  content="ig design, website, design, html5, css3, jquery, creative, clean, animated, portfolio, blog, one-page, multi-page, corporate, business," />
	<meta property="og:title" content="Professional Creative Template" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="" />
	<meta property="og:image:width" content="470" />
	<meta property="og:image:height" content="246" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="Professional Creative Template" />
	

	
	
	
	

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="theme-color" content="#212121"/>
    <meta name="msapplication-navbutton-color" content="#212121"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#212121"/>

	<!-- Web Fonts 
	================================================== -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
	
	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/static/css/animsition.min.css"/>
	<link rel="stylesheet" href="/static/css/style.css"/>
			
	<!-- Favicons
	================================================== -->
	<link rel="icon" type="image/png" href="favicon.png">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
	
	
</head>
<body class="over-hide">	

	<!-- Page preloader wrap
	================================================== -->

	<div class="animsition">
		
		<!-- Nav and Logo
		================================================== -->

		<header class="cd-header">
			<div class="header-wrapper">
				<div class="logo-wrap">
					<a href="/index/" class="cursor-link animsition-link" style="color: white"><h3>图像风格迁移</h3></a>
				</div>
				<div class="nav-but-wrap">
					<div class="menu-icon cursor-link">
{#						<span class="menu-icon__line menu-icon__line-left"></span>#}
{#						<span class="menu-icon__line"></span>#}
{#						<span class="menu-icon__line menu-icon__line-right"></span>#}
					</div>
				</div>
			</div>
		</header>

{#		<div class="nav">#}
{#			<div class="nav__content">#}
{#				<ul class="nav__list">#}
{#					<li class="nav__list-item active-nav"><a data-toggle="collapse" href="#collapseSub" class="cursor-link" role="button" aria-expanded="false" aria-controls="collapseSub">work</a>#}
{#						<ul class="sub-links collapse" id="collapseSub">#}
{#							<li class="active-nav"><a href="index.html" class="cursor-link animsition-link">case studies</a></li>#}
{#							<li><a href="index-1.html" class="cursor-link animsition-link">hero slider</a></li>#}
{#							<li><a href="index-2.html" class="cursor-link animsition-link">boring masonry</a></li>#}
{#							<li><a href="index-3.html" class="cursor-link animsition-link">floating title</a></li>#}
{#							<li><a href="index-4.html" class="cursor-link animsition-link">gallery version</a></li>#}
{#						</ul>#}
{#					</li>#}
{#					<li class="nav__list-item"><a href="studio.html" class="cursor-link animsition-link">studio</a></li>#}
{#					<li class="nav__list-item"><a href="blog.html" class="cursor-link animsition-link">news</a></li>#}
{#					<li class="nav__list-item"><a href="contact.html" class="cursor-link animsition-link">contact</a></li>#}
{#				</ul>#}
{#			</div>#}
{#		</div>	#}

		<!-- Primary Page Layout
		================================================== -->
	
		<div class="section full-height over-hide background-dark-2">

			<ul class="case-study-wrapper">
				<li class="case-study-name">                            	
					<span>candy</span> <a href="/transfer/?style=candy" class="cursor-link animsition-link"></a>
				</li>
				<li class="case-study-name">                                         	
					<span>gothic</span> <a href="/transfer/?style=gothic" class="cursor-link animsition-link"></a>
				</li>

				<li class="case-study-name">                                         	
					<span>starry_night</span> <a href="/transfer/?style=starry_night" class="cursor-link animsition-link"></a>
				</li>

				<li class="case-study-name">                                         	
					<span>wave_crop</span> <a href="/transfer/?style=wave_crop" class="cursor-link animsition-link"></a>
				</li>
{#                <li class="case-study-name">                                        	#}
{#					<span>rain-princess-cropped</span> <a href="/transfer/?style=candy" class="cursor-link animsition-link"></a>#}
{#				</li>#}
{#                <li class="case-study-name">                                           	#}
{#					<span>udnie</span> <a href="/transfer/?style=candy" class="cursor-link animsition-link"></a>#}
{#				</li>#}
			</ul>
			<ul class="case-study-images">
				<li>
					<div class="img-hero-background" style="background-image: url('/static/img/style_images/candy.jpg');"></div>
					<div class="dark-over-hero"></div>  
					<div class="hero-number-back">01</div> 
					<div class="hero-number">01</div> 
					<div class="hero-number-fixed">04</div>
					<div class="case-study-title">candy</div>
				</li>
				<li>
					<div class="img-hero-background" style="background-image: url('/static/img/style_images/gothic.jpg');"></div>
					<div class="hero-number-back">02</div> 
					<div class="hero-number">02</div>  
					<div class="case-study-title">gothic</div>
				</li>

				<li>
					<div class="img-hero-background" style="background-image: url('/static/img/style_images/starry_night.jpg');"></div>
					<div class="hero-number-back">03</div>
					<div class="hero-number">03</div>
					<div class="case-study-title">starry_night</div>
				</li>

				<li>
					<div class="img-hero-background" style="background-image: url('/static/img/style_images/wave_crop.jpg');"></div>
					<div class="hero-number-back">04</div>
					<div class="hero-number">04</div>
					<div class="case-study-title">wave_crop</div>
				</li>
{#                <li>#}
{#					<div class="img-hero-background" style="background-image: url('/static/img/style_images/rain-princess-cropped.jpg');"></div>#}
{#					<div class="hero-number-back">05</div>  #}
{#					<div class="hero-number">05</div> #}
{#					<div class="case-study-title">rain-princess-cropped</div>#}
{#				</li>#}
{#                <li>#}
{#					<div class="img-hero-background" style="background-image: url('/static/img/style_images/udnie.jpg');"></div>#}
{#					<div class="hero-number-back">06</div> #}
{#					<div class="hero-number">06</div> #}
{#					<div class="case-study-title">udnie</div>#}
{#				</li>#}
			</ul>	

		</div>
	
	<!-- Page cursor
	================================================== -->
	
	<div class="cursor cursor-shadow"></div>
	<div class="cursor cursor-dot"></div>


	</div>
	
	<!-- JAVASCRIPT
    ================================================== -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/popper.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/plugins.js"></script>
	<script src="/static/js/custom.js"></script>
<!-- End Document
================================================== -->
</body>
</html>